---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "src/components/Hero.astro";
import About from "src/components/About.astro";
import Experience from "src/components/Experience.astro";
---

<Layout title="Welcome to Astro.">
  <main class="px-5 lg:px-72 pt-24">
    <Hero />
    <About />
    <Experience />
  </main>
</Layout>
