---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Hello">
  <main>
    <Card
      image="https://docs.astro.build/assets/logomark-light.png"
      alt="Hello"
      href="https://www.dicoding.com/certificates/N9ZO6K9K8XG5"
      body="Hello"
      title="hello"
    />
    <a href="https://www.dicoding.com/certificates/N9ZO6K9K8XG5">Implements</a>
  </main>
</Layout>
