---
import Profile from "@images/profile-3.jpg";
---

<section>
  <div class="flex flex-col items-center md:flex-row justify-between">
    <!-- Image -->
    <div class="order-1 mb-6 md:order-2">
      <img
        src={Profile}
        alt=""
        class="rounded-full h-64 shadow-red-500 shadow-lg"
      />
    </div>
    <!-- Content -->
    <div class="order-2 text-center md:order-1 md:w2">
      <h1 class="text-3xl">Hi, I am M. Afrizal Suhartono</h1>
      <p>
        I'm a person who has a keen interest in the design layout. I think
        presenting an attractive design is a matter of concern in developing a
        branding of products. To creates a good design, I focus on proper
        composition and visual decoration details in order to make it more
        professional. For the time being, I’m developing the skill for acquiring
        the UI/UX design for dynamic application and web development.
      </p>
    </div>
  </div>
</section>
